<div class="jumbotron">
<ul>
<% @jobs.each do |job| %>
    <li>Job Title: <%= job.title %></li>
    <li>Job Description: <%= job.description %></li>
    <li>Job Posting Date: <%= job.release_date %></li>
    <li>Employer: <%= job.employer %></li>
    <li>Location: <%= job.location %></li>
    <li>Schedule: <%= job.job_type %></li>
<% end %>
</ul>
</div>