<ul>
<li><%= @jobs.title %></li>
<li><%= @jobs.description %></li>
<li><%= @jobs.release_date %></li>
<li><%= @jobs.employer %></li>
<li><%= @jobs.location %></li>
<li><%= @jobs.job_type %></li>
</ul>