<h2>Available Job Postings</h2>

<ul>
<li><%= @jobs.title %></li>
<li><%= @jobs.description %></li>
<li><%= @jobs.release_date %></li>
<li><%= @jobs.employer %></li>
<li><%= @jobs.location %></li>
<li><%= @jobs.job_type %></li>
</ul>

<a class="btn btn-primary">Add a new Job Posting</a>
<a href="/jobs/<%= @jobs.id %>/edit"class="btn btn-primary">Update Existing Job Posting</a>
<a class="btn btn-primary">Delete a new Job Posting</a>