<h2>Your Job Posting</h2>

<ul>
<li><%= @jobs.title %></li>
<li><%= @jobs.description %></li>
<li><%= @jobs.release_date %></li>
<li><%= @jobs.employer %></li>
<li><%= @jobs.location %></li>
<li><%= @jobs.job_type %></li>
</ul>


<a href="/jobs/new" class="btn btn-success">Add a new Job Posting</a>

<a href="/jobs/<%= @jobs.id %>/edit"class="btn btn-primary">Update Existing Job Posting</a>
<br><br><br>

<a href='/jobs' class="btn btn-primary">Return to Job Listings</a>

<br><br><br>

<form method="POST" action="/jobs/<%= @jobs.id%>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input class="btn btn-danger"type="submit" value="delete">
</form>