<h5>Your Job Postings</h5>

<!-- Add a new Job Posting -->

<a href="/jobs/new" class="btn btn-success">Add a new Job Posting</a>

<a href="/jobs" class="btn btn-primary">Available Job Postings</a>

<br><br>

<!-- All Exising Job Posting -->

<% @user_jobs.each do |job| %>
    <div class="text-center card" style="width: 18rem;">
        <div class="card body">
        <h5 class="card-title">Job Title: <%= job.title %></h5>
        <h6 class="card-text">Job Description: <%= job.description %></h6>
        <ul>
        <li>Job Posting Date: <%= job.release_date %></li>
        <li>Employer: <%= job.employer %></li>
        <li>Location: <%= job.location %></li>
        <li>Schedule: <%= job.job_type %></li>
        </ul>
        </div>
        <!-- Edit an Exising Job Posting -->
        <a href="/jobs/<%= job.id%>/edit" class="btn btn-primary">Edit Job Posting</a>
        <!-- Delete an Existing Job Posting -->
        <form method="POST" action="/jobs/<%= job.id%>">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input class="btn btn-danger" type="submit" value="delete">
        </form>
    </div>
    <br><br>
<% end %>